@page "/sell"
@rendermode InteractiveServer

@inject IJSRuntime JsRuntime

@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject ISellProductUseCase SellProductUseCase

<h3>sell Product</h3>

<br />

<EditForm id="sell-form" Model="sellProductViewModel" OnValidSubmit="Sell">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="po">Sales Number #</label>
        <InputText id="po" class="form-control" @bind-Value="sellProductViewModel.SalesOrderNumber" />
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product To sell"
                                       SearchFunc="SearchProduct"
                                       OnItemSelected="HandleItemSelected" />
                
            </div>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="qty">Quantity #</label>
        <InputNumber id="qty" class="form-control" @bind-Value="sellProductViewModel.QuantityToSell" />
    </div>
    <br />
    <div class="form-group">
        <label for="price">Unit Price</label>
        <InputNumber id="price" class="form-control" @bind-Value="sellProductViewModel.UnitPrice" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sell</button>

    
</EditForm>

@code {
    private SellProductViewModel sellProductViewModel = new();
    private Product? selectedProduct;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("preventFormSubmission", "sell-form");  //file wwwroot/jsinterop. Has to insert the script tag reference in the App.razor
            // var linkUrl = await JsRuntime.GetValueAsync<string>("document.location.href");
            // await JsRuntime.SetValueAsync("document.title", $"{linkUrl} - purchase inventory");
        }
    }

    private async Task<List<ItemViewModel>?> SearchProduct(string name)
    {
        var list = await ViewProductsByNameUseCase.ExecuteAsync(name);
        if (list is null) return null;

        return list.Select(i => new ItemViewModel
        {
            Id = i.ProductId,
            Name = i.ProductName
        })?.ToList();
    }

    private async Task HandleItemSelected(ItemViewModel item)
    {
        selectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);

        if (selectedProduct is not null)
        {
            this.sellProductViewModel.ProductId = item.Id;
            sellProductViewModel.Product = selectedProduct;
            this.sellProductViewModel.UnitPrice = selectedProduct.Price;

        }


    }

    private async Task Sell()
    {
        if (selectedProduct is not null)
        {
            
            await SellProductUseCase.ExecuteAsync(
            this.sellProductViewModel.SalesOrderNumber,
            selectedProduct,
            this.sellProductViewModel.QuantityToSell,
            selectedProduct.Price,
            "Rafael"
            );

            this.sellProductViewModel = new();
            this.selectedProduct = null;
        }
        

    }

}